<h2>Comics</h2>

<%= form_for @comic do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

  <h2>Reviews</h2>
  
  <%= f.fields_for :reviews  do |reviews_fields| %>
    <%= reviews_fields.label :name %><br>
    <%= reviews_fields.text_field :name %><br>

    <%= reviews_fields.label :description %><br>
    <%= reviews_fields.text_field :description %><br>
  <% end %><br>
    
  <%= f.submit %>
    
  <% end %>

</form>