<h1> Welcome to the Comics Reader App!</h1>

<h3><%= link_to "Sign up now!", signup_path %></h3>

<% if session[:reader_id] %>
  <h1><%= @reader.name %></h1>
  <h2>Email: <%= @reader.email %></h2>
  <h2>GitHub UID: <%= @reader.uid %></h2>
  <img src="<%= @reader.image %>">
<% else %>
  <%= link_to('Log in with GitHub!', '/auth/github', method: :post) %>
<% end %>