<%= form_for @review do |f| %>
  <%= render 'shared/error_messages', object: f.object %><br>
  
  <%= reader_id_field(@review) %>
  <br>

  <p>
  <%= f.label :comic_title %>
  <%= f.text_field :comic_title %>
  </p>
 
  <p>
  <%= f.label :description %>:<br>
  <%= f.text_area :description %>
  </p>

  <%= f.submit %>
<% end %>