<h2>Write a comic review</h2>

<%= form_for @review do |f| %>
  <%= render 'shared/error_messages', object: f.object %><br>

  <p>
  <%= f.label :comic_title %>
  <%= f.text_field :comic_title %>
  </p>


  <p>
  <%= f.label :reader_name %>
  <%= f.text_field :reader_name %>
  </p>

  <p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>

 
  <p>
  <%= f.label :description %>:<br>
  <%= f.text_area :description %>
  </p>

  <%= f.submit 'Create Review' %>
<% end %>

<p><%= link_to 'Comics Homepage', comics_path %><p>