<h2>Create new review for Comic</h2>

<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@review.errors.count, "error") %>
      prohibited this review from being saved:
    </h2>

    <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @review do |f| %>
  <%= render 'shared/error_messages', object: f.object %><br>

  <p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>


  <p>
  <%= f.label :title, 'Comics' %><br>
  <%= f.collection_check_boxes(:comic_id, Comic.all, :id, :title ) do |b| %>
  <p><%= b.label(:"data-value" => b.value) { b.check_box + b.text } %></p>

  <% end %>
  </p>

  <p>
  <%= f.label :description %>:<br>
  <%= f.text_area :description %>
  </p>


  <%= f.submit 'Create Review' %>
  
<% end %>

