<h2><%= " #{@review.name}'s Reviews" %></h2>

<p>
  
  <h4>Title:</h4>
  <h3><%= @review.comic.title %></h3>

  <h4>Description:</h4>
  <h3><%= @review.description %> </h3>
  
</p>

<p><%= link_to 'Edit review', edit_reader_review_path(@review.reader, @review) if @review.reader %></p>

<p><%= link_to 'Back', reader_path(current_user) %></p>


  